* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* Login Styles */

.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 330px;
    padding: 25px;
    color: #06152B;
}

.login-box h1 {
    font-family: "Proxima Nova", "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    margin-bottom: 16px;
}

.login-box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.login-box form {
    width: 100%;
}

.login-box form input {
    padding: 22px 30px;
    border: 1px solid #D9E1E7;
    border-radius: 15px;
    margin-bottom: 16px;
    width: 100%;
    display: inline-block;
    color: #06152B;
}

.login-box form input[type=button] {
    background-color: #06152B;
    color: #fff;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.login-box .remember-me-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
    accent-color: #06152B;
}

.login-box .remember-me-checkbox input[type=checkbox] {
    height: 20px;
    width: 20px;
}


.login-box a {
    text-decoration: none;
    color: #06152B;
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.menu a {
    text-decoration: none;
    color: #050505;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
}

.menu-items.active a {
    font-weight: 500;
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.avatar {
    background-color: #384455;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.online-dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1AD598;
}

.user-avatar p {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
}

.mobile-menu {
    display: none;
    position: relative;
}

.mobile-menu-items {
    display: none;
}

.sub-dropdown,
.dropdown {
    position: relative;
}

.sub-dropdown:hover .dropdown-submenu,
.dropdown:hover .submenu {
    display: block;
}


.dropdown-submenu,
.submenu {
    position: absolute;
    top: 25px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    width: 200px;
    z-index: 15;
    border-radius: 15px;
    display: none;
}

.submenu {
    top: 100%;
    left: 0;
}

.dropdown-submenu {
    top: 0;
    left: 150px;
}

.dropdown-submenu .menu-items,
.submenu .menu-items {
    /* background-color: #fff; */
    border-bottom: 1px solid #DCDCDC;
    padding: 10px;
}

.dropdown-submenu .menu-items a,
.submenu .menu-items a {
    text-decoration: none;
    font-size: 14px;
    color: #050505;
}




.main-banner {
    width: 770px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 25px;
    margin: 40px auto;
}

.main-banner>div {
    width: 50%;
}

.banner-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
}

.banner-image {
    text-align: center;
}

.banner-image img {
    width: 330px;
    padding: 24px;
}

.banner-section .text-box {
    background-color: rgba(255, 255, 255, 0.9);
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    border-radius: 20px;
}

.text-box .banner-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.text-box .banner-number {
    background-color: #B01E248F;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.text-box .banner-number p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    display: inline-block;
    color: #050505;
}

.heading-box {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-box .banner-heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 4px;
    color: #fff;
}

.heading-box .redirect-button {
    background-color: rgba(255, 255, 255, 0.9);
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.main-banner-1 {
    background-color: #B01E24;
}

.main-banner-2 {
    background-color: #283792;
}

.add-button {
    background-color: #06152B;
    color: #fff;
    height: 133px;
    width: 133px;
    border: 0;
    font-size: 35px;
    margin: 40px 0;
    border-radius: 50%;
    cursor: pointer;
}

.add-project-modal,
.add-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 20;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.show {
    display: flex;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 21;
}

.add-project-modal .modal-box,
.modal-box {
    position: relative;
    z-index: 25;
    background: #E1E3E5;
    border-radius: 25px;
    width: 770px;
    padding: 35px 0;
}

.add-project-modal .modal-box {
    width: 540px;
    padding: 66px 0;
}

.modal-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px 0;
}

.modal-inputs>div {
    width: 260px;
}

.custom-file-input {
    width: 260px;
    height: 66px;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    background-color: rgba(128, 159, 184, 0.1);
    padding: 0 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}

#fileInput {
    display: none;
}

.selected-file {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.upload-icon {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(56, 68, 85, 1);
    border-radius: 50%;
    flex-shrink: 0;
}

.add-project-modal .text-input input,
.add-modal .text-input input {
    width: 260px;
    height: 66px;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    background-color: rgba(128, 159, 184, 0.1);
    padding: 0 25px;
    border-radius: 15px;
}

.add-project-modal .text-input input {
    border: 1px solid #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    background-color: transparent;
    margin: 20px 0;

}

.add-project-modal .text-input .input-label {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
}

.colors-input {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 15px;

}

.colors-input label {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
}

.colors-input input {
    display: none;
}

.colorBox {
    width: 110px;
    height: 32px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: rgba(128, 159, 184, 1);
    padding: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.add-modal .modal-button {
    float: right;
    margin-top: 35px;
    padding-right: 84px;
}

.add-modal .modal-button .submit-button {
    width: 70px;
    height: 70px;
    background-color: rgba(6, 21, 43, 0.74);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.add-project-modal .submit-button {
    width: 100%;
    background-color: #000;
    height: 66px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    border: 0;
}

.close-button {
    color: rgba(61, 61, 61, 0.75);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
}

.main-container {
    width: 80%;
    margin: 50px auto;
}

.main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.main-heading h1 {
    color: #0C0B15;
    font-size: 26px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.main-heading h2 {
    color: #0C0B15;
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}


.main-heading button {
    background-color: #06152B;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: 0;
}

.main-heading button i {
    margin-left: 5px;
}

.places-table {
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
}

.statistics-project-table {
    width: 75%;
    margin: 0 auto;
    height: 500px;
    overflow: scroll;
}



.table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #F1F4F9;
}

.statistics-project-table .place-title {
    align-items: start;
}

.place-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 22px;
}

.place-title input {
    height: 20px;
    width: 20px;
    accent-color: #000;
}

.place-title .row-number {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #217EFD4C;
    color: #217EFD;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    flex-shrink: 0;
}

.place-title .title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #06152B;
}

.statistics-project-table .place-title .title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.statistics-project-table .time-badge {
    width: 125px;
    height: 28px;
    color: #384455;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    background-color: #D6E0E8;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.details-button {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.details-button button {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    border: 0;
}

.stats-button {
    background-color: #217EFD;
}

.view-button {
    background-color: #06152BAB;
}

.action-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.action-buttons a {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #D9E1E7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-buttons a:first-child {
    width: 46px;
    height: 46px;
    margin-right: 8px;
}

.action-buttons a:last-child {
    border: 1px solid #EA3A3D4C;
}

.action-buttons button {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #D9E1E7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-buttons button:first-child {
    width: 46px;
    height: 46px;
    margin-right: 8px;
}

.action-buttons button:last-child {
    border: 1px solid #EA3A3D4C;
}

.back-button button {
    width: 60px;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
}

.back-button {
    margin: 10px 0 40px;
}

.project-details {
    width: 75%;
    margin: 0 auto;
}

.main-title {
    font-size: 24px;
    line-height: 22px;
    text-align: left;
    color: #050505;
}

.title-1 {
    margin-top: 54px;
    font-size: 22px;
    color: #050505;
}

.title-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 25px;
    color: #050505;
}

.paragraph {
    color: #050505;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 5px;

}

.paragraph span,
.title-1 span,
.main-title span {
    color: #06152B87;
    font-weight: 400;
}

.flags-section {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 3px solid #D9E1E7;
    width: max-content;
    margin-top: 64px;
    gap: 20px;
}

.flags-section>.flags-buttons>.tablinks.active {
    background-color: #217EFD;
}

.flags-section>.flags-buttons>.tablinks {
    width: 92px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.flags-section>div.active {
    background-color: #217EFD;
}

.flags-section>div {
    width: 92px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.flags-section button {
    width: 35px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.mp3-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 75px;
    margin-top: 45px;
}

.audio-input .input-box,
.ai-checkbox {
    border: 1px solid #D9E1E7;
    width: 280px;
    height: 66px;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding: 0 27px;
}

.audio-input .input-box {
    width: 260px;
    border: 1px dashed #809FB8;
    background-color: #F4F9FB;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    justify-content: center;
    color: #384455;
}

.audio-input .input-icon {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9E1E7;
    border-radius: 50%;
}

.audio-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ai-checkbox input {
    height: 26px;
    width: 26px;
    border-radius: 10px;
    accent-color: #000;
}

.ai-checkbox label {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #384455;
}

.input-large-box {
    width: 100%;
    height: 240px;
    border: 1px dashed #809FB866;
    background-color: #F4F9FB;
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-large-box .input-box-icon {
    background-color: #384455;
    height: 61px;
    width: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.submit-details {
    text-align: center;
    margin-top: 67px;
}

.submit-details button {
    width: 120px;
    height: 50px;
    background-color: #384455;
    color: #fff;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.projects-dropdown {
    width: 240px;
}

.projects-dropdown .dropdown-box {
    height: 66px;
    width: 240px;
    border: 1px solid #06152B;
    color: #06152B;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 0 33px;
    border-radius: 15px;
}

.statistics-container,
.settings-container {
    width: 75%;
    margin: 25px auto;
}

.project-submenu {
    width: 100%;
}

.submenu-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    height: 66px;
    width: 240px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 0 33px;
    color: #000;
    cursor: pointer;
}

.submenu-item.active,
.submenu-item:hover {
    background-color: #D9E1E7;
}

.submenu-item i {
    display: none;
}

.submenu-item.active i,
.submenu-item:hover i {
    display: block;
}

.radio-box {
    width: 280px;
    height: 66px;
    border: 1px solid #D9E1E7;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 18px;
    padding: 0 28px 0 33px;
    border-radius: 15px;
}

.radio-box input {
    height: 22px;
    width: 22px;
    accent-color: #384455;
}

.radio-box label {
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #384455;
}

.input-sections {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-top: 35px;
}

.colors-input-boxes {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.colors-input-boxes input {
    display: none;
}

.colors-input-box {
    height: 32px;
    width: 104px;
    padding: 9px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    border-radius: 10px;
    border: 1px solid #D9E1E7CC;
}

.color-box {
    width: 14px;
    height: 14px;
    border-radius: 5px;
    flex-shrink: 0;
}

.color-code {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #809FB8;
}

.input-box {
    width: 261px;
    height: 58px;
    border: 1px dashed #809FB8;
    background-color: #F4F9FB;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding: 0 27px;
}

.input-box input {
    display: none;
}

.pie-charts-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.pie-chart,
.line-chart-section {
    box-shadow: 0px 2px 10px 0px #0000001A;
    width: 100%;
    margin: 40px 0;
}

.pie-chart {
    flex: 1;
    margin: 0 !important;
}

.chart-heading {
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid #ECECEC
}

.chart-heading h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.0375em;
}

.chart-heading p {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.chart-heading i {
    color: #BDBDBD;
    font-size: 24px;
}

@media (max-width: 990px) {
    .navbar {
        padding: 40px;
    }

    .mobile-nav .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .submenu {
        top: 40px;
    }

    .mobile-menu i {
        font-size: 40px;
    }

    .submenu {
        width: 150px;
    }

    .submenu .menu-items a {
        text-decoration: none;
        font-size: 16px;
        color: #050505;
    }

    .user-avatar p {
        display: none;
    }

    .project-details,
    .statistics-container,
    .settings-container,
    .statistics-project-table,
    .places-table,
    .main-heading {
        width: 100%;
    }

    .mp3-buttons {
        justify-content: space-between;
        gap: 0;
    }

    .input-sections {
        flex-direction: column;
        align-items: start;
    }

}

@media (max-width: 770px) {
    .main-banner {
        flex-wrap: wrap;
        width: 90%;
        height: auto;
    }

    .main-banner>div {
        width: 100%;
    }

    .banner-section {
        align-items: center;
        height: 330px;
    }

    .modal-box {
        width: 90%;
    }

    .mp3-buttons {
        flex-direction: column;
        gap: 20px;
    }

    .pie-charts-section {
        flex-direction: column;
    }

    .colors-input-boxes {
        flex-direction: column;
        /* align-items: start; */
    }
}

@media (max-width: 550px) {
    .main-container {
        width: 90%;
    }

    .add-project-modal .modal-box {
        width: 90% !important;
    }

    .place-title {
        gap: 15px;
    }

    .place-title .row-number {
        height: 35px;
        width: 35px;
        font-size: 14px;
    }

    .place-title .title {
        font-size: 14px;
    }

    .details-button {
        gap: 5px;
    }

    .details-button button {
        font-size: 14px;
        width: 80px;
        height: 35px;
    }

    .flags-section>div {
        width: 60px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        cursor: pointer;
    }

    .flags-section>div>img {
        width: 24px;
        height: 24px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    margin: 4px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-label-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Additional styles for disabled form control */
.form-control[disabled] {
    background-color: #e9ecef;
    opacity: 1;
}

.d-none {
    display: none !important;
}

/* Margin on All Sides */
.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

/* Margin on Individual Sides */
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.ml-5 {
    margin-left: 3rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* Padding on All Sides */
.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.p-auto {
    padding: auto !important;
}

/* Padding on Individual Sides */
.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}

.pr-3 {
    padding-right: 1rem !important;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

.pr-5 {
    padding-right: 3rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.pl-4 {
    padding-left: 1.5rem !important;
}

.pl-5 {
    padding-left: 3rem !important;
}

.px-auto {
    padding-right: auto !important;
    padding-left: auto !important;
}

.py-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
}

.select2 {
    width: 100 !important;
}

.flag-language{
    width: 80%;
    margin: 0 auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-12 {
        width: 100%;
    }
}
